In [ ]:
mkdir DSBDA

In [ ]:
cd DSBDA

/content/DSBDA

In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv('facebook.csv', sep   = ";")
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [18]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [19]:
subset = df.iloc[0:25, 0:6]
subset

    Page total likes    Type  Category  Post Month  Post Weekday  Post Hour
0             139441   Photo         2          12             4          3
1             139441  Status         2          12             3         10
2             139441   Photo         3          12             3          3
3             139441   Photo         2          12             2         10
4             139441   Photo         2          12             2          3
5             139441  Status         2          12             1          9
6             139441   Photo         3          12             1          3
7             139441   Photo         3          12             7          9
8             139441  Status         2          12             7          3
9             139441   Photo         3          12             6         10
10            139441  Status         2          12             5         10
11            139441   Photo         2          12             5         10
12            139441   Photo         2          12             5         10
13            139441   Photo         2          12             5          3
14            138414   Photo         2          12             4          5
15            138414  Status         2          12             3         10
16            138414   Photo         3          12             3          3
17            138414   Photo         1          12             2         12
18            138414  Status         3          12             2          3
19            138414   Photo         3          12             1         11
20            138414   Photo         2          12             1          3
21            138414   Photo         1          12             7         10
22            138414    Link         1          12             7         10
23            138414   Photo         3          12             7          3
24            138414  Status         2          12             6         10

In [20]:
subset1 = df.iloc[0:25, 7:12]
subset1

,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions
0,2752,5091,178,109,159
1,10460,19057,1457,1361,1674
2,2413,4373,177,113,154
3,50128,87991,2211,790,1119
4,7244,13594,671,410,580
5,10472,20849,1191,1073,1389
6,11692,19479,481,265,364
7,13720,24137,537,232,305
8,11844,22538,1530,1407,1692
9,4694,8668,280,183,250
10,21744,42334,4258,4100,4540
11,3112,5590,208,127,145
12,2847,5133,193,115,133
13,2549,4896,249,134,168
14,22784,39941,887,337,417
15,10060,19680,1264,1209,1425
16,1722,2981,163,123,148
17,53264,111785,1706,1103,1655
18,3930,7509,130,86,112
19,1591,2825,121,88,111
20,2848,5066,200,142,184
21,1384,2467,15,15,20
22,3454,6853,118,104,130
23,2723,4888,176,118,143
24,8488,15294,1341,1270,1489

In [6]:
display(pd.concat([subset,subset1]))

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions
0,139441.0,Photo,2.0,12.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN
1,139441.0,Status,2.0,12.0,3.0,10.0,NaN,NaN,NaN,NaN,NaN
2,139441.0,Photo,3.0,12.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN
3,139441.0,Photo,2.0,12.0,2.0,10.0,NaN,NaN,NaN,NaN,NaN
4,139441.0,Photo,2.0,12.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN
5,139441.0,Status,2.0,12.0,1.0,9.0,NaN,NaN,NaN,NaN,NaN
6,139441.0,Photo,3.0,12.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN
7,139441.0,Photo,3.0,12.0,7.0,9.0,NaN,NaN,NaN,NaN,NaN
8,139441.0,Status,2.0,12.0,7.0,3.0,NaN,NaN,NaN,NaN,NaN
9,139441.0,Photo,3.0,12.0,6.0,10.0,NaN,NaN,NaN,NaN,NaN
10,139441.0,Status,2.0,12.0,5.0,10.0,NaN,NaN,NaN,NaN,NaN
11,139441.0,Photo,2.0,12.0,5.0,10.0,NaN,NaN,NaN,NaN,NaN
12,139441.0,Photo,2.0,12.0,5.0,10.0,NaN,NaN,NaN,NaN,NaN
13,139441.0,Photo,2.0,12.0,5.0,3.0,NaN,NaN,NaN,NaN,NaN
14,138414.0,Photo,2.0,12.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN
15,138414.0,Status,2.0,12.0,3.0,10.0,NaN,NaN,NaN,NaN,NaN
16,138414.0,Photo,3.0,12.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN
17,138414.0,Photo,1.0,12.0,2.0,12.0,NaN,NaN,NaN,NaN,NaN
18,138414.0,Status,3.0,12.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN
19,138414.0,Photo,3.0,12.0,1.0,11.0,NaN,NaN,NaN,NaN,NaN
20,138414.0,Photo,2.0,12.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN
21,138414.0,Photo,1.0,12.0,7.0,10.0,NaN,NaN,NaN,NaN,NaN
22,138414.0,Link,1.0,12.0,7.0,10.0,NaN,NaN,NaN,NaN,NaN
23,138414.0,Photo,3.0,12.0,7.0,3.0,NaN,NaN,NaN,NaN,NaN
24,138414.0,Status,2.0,12.0,6.0,10.0,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,2752.0,5091.0,178.0,109.0,159.0
1,NaN,NaN,NaN,NaN,NaN,NaN,10460.0,19057.0,1457.0,1361.0,1674.0
2,NaN,NaN,NaN,NaN,NaN,NaN,2413.0,4373.0,177.0,113.0,154.0
3,NaN,NaN,NaN,NaN,NaN,NaN,50128.0,87991.0,2211.0,790.0,1119.0
4,NaN,NaN,NaN,NaN,NaN,NaN,7244.0,13594.0,671.0,410.0,580.0
5,NaN,NaN,NaN,NaN,NaN,NaN,10472.0,20849.0,1191.0,1073.0,1389.0
6,NaN,NaN,NaN,NaN,NaN,NaN,11692.0,19479.0,481.0,265.0,364.0
7,NaN,NaN,NaN,NaN,NaN,NaN,13720.0,24137.0,537.0,232.0,305.0
8,NaN,NaN,NaN,NaN,NaN,NaN,11844.0,22538.0,1530.0,1407.0,1692.0
9,NaN,NaN,NaN,NaN,NaN,NaN,4694.0,8668.0,280.0,183.0,250.0
10,NaN,NaN,NaN,NaN,NaN,NaN,21744.0,42334.0,4258.0,4100.0,4540.0
11,NaN,NaN,NaN,NaN,NaN,NaN,3112.0,5590.0,208.0,127.0,145.0
12,NaN,NaN,NaN,NaN,NaN,NaN,2847.0,5133.0,193.0,115.0,133.0
13,NaN,NaN,NaN,NaN,NaN,NaN,2549.0,4896.0,249.0,134.0,168.0
14,NaN,NaN,NaN,NaN,NaN,NaN,22784.0,39941.0,887.0,337.0,417.0
15,NaN,NaN,NaN,NaN,NaN,NaN,10060.0,19680.0,1264.0,1209.0,1425.0
16,NaN,NaN,NaN,NaN,NaN,NaN,1722.0,2981.0,163.0,123.0,148.0
17,NaN,NaN,NaN,NaN,NaN,NaN,53264.0,111785.0,1706.0,1103.0,1655.0
18,NaN,NaN,NaN,NaN,NaN,NaN,3930.0,7509.0,130.0,86.0,112.0
19,NaN,NaN,NaN,NaN,NaN,NaN,1591.0,2825.0,121.0,88.0,111.0
20,NaN,NaN,NaN,NaN,NaN,NaN,2848.0,5066.0,200.0,142.0,184.0
21,NaN,NaN,NaN,NaN,NaN,NaN,1384.0,2467.0,15.0,15.0,20.0
22,NaN,NaN,NaN,NaN,NaN,NaN,3454.0,6853.0,118.0,104.0,130.0
23,NaN,NaN,NaN,NaN,NaN,NaN,2723.0,4888.0,176.0,118.0,143.0
24,NaN,NaN,NaN,NaN,NaN,NaN,8488.0,15294.0,1341.0,1270.0,1489.0

In [7]:
df.shape

(500, 19)

In [8]:
subset.shape

(25, 6)

In [28]:
df.sort_values(by=["Post Hour"],inplace=True)
df

#By executing df.sort_values(by=["Post Hour"], inplace=True), the DataFrame df will be sorted in ascending 
#order based on the values in the "Post Hour" column.

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
154,135713,Photo,2,10,4,1,0.0,5568,10282,746,545,867,5696,3162,537,13,319.0,55.0,387
258,129600,Photo,2,7,3,1,0.0,4220,7774,685,597,838,4404,2326,407,10,167.0,26.0,203
212,132201,Photo,2,8,5,1,0.0,1659,2845,345,321,424,1604,915,239,3,36.0,11.0,50
333,119198,Photo,3,5,2,1,0.0,3024,5630,596,560,721,4114,2098,341,0,64.0,20.0,84
157,135700,Photo,3,9,2,2,0.0,2656,4862,390,309,445,3273,1722,309,1,115.0,21.0,137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,102112,Photo,1,3,1,18,0.0,6400,11941,735,726,8415,10987,5916,628,0,32.0,6.0,38
422,102112,Photo,1,3,1,19,0.0,238,570,143,142,834,567,236,99,0,2.0,0.0,2
381,109670,Photo,3,4,6,20,0.0,5994,9970,964,838,1254,6896,3998,683,11,235.0,34.0,280
287,126141,Photo,1,6,4,22,1.0,20560,24112,936,860,1126,5648,3856,460,14,102.0,9.0,125
230,131630,Photo,3,7,2,23,0.0,2822,5058,424,351,486,3681,2020,327,2,113.0,20.0,135

In [10]:
df_transpose = df.T
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [29]:
pivot_table = pd.pivot_table(df,index = ['Type','Category'],values = 'comment')
print(pivot_table)

#By calling pd.pivot_table(df, index=['Type', 'Category'], values='comment'), you create a pivot table
#with the 'Type' and 'Category' columns as the index, and the 'comment' column as the values. The pivot 
#table aggregates the 'comment' values based on the combinations of 'Type' and 'Category' present in the DataFrame.

                   comment
Type   Category
Link   1          2.900000
       2          2.000000
       3          2.000000
Photo  1          5.897297
       2         11.692308
       3          6.913333
Status 1          4.333333
       2          9.921053
       3          2.750000
Video  1         12.285714

In [12]:
melt_df = pd.melt(df,id_vars=['Page total likes'],value_vars=['Category','Post Month','Post Weekday'])
melt_df

      Page total likes      variable  value
0               135713      Category      2
1               119198      Category      3
2               132201      Category      2
3               129600      Category      2
4               117764      Category      3
...                ...           ...    ...
1495            100732  Post Weekday      7
1496            102112  Post Weekday      1
1497            109670  Post Weekday      6
1498            126141  Post Weekday      4
1499            131630  Post Weekday      2

[1500 rows x 3 columns]

In [27]:
melt_df(20)

      Page total likes      variable  value
1480            104070  Post Weekday      5
1481            104070  Post Weekday      4
1482            125612  Post Weekday      1
1483            100732  Post Weekday      6
1484            104070  Post Weekday      3
1485            115893  Post Weekday      4
1486            100732  Post Weekday      7
1487            100732  Post Weekday      7
1488            100732  Post Weekday      6
1489             86909  Post Weekday      6
1490            100732  Post Weekday      7
1491            100732  Post Weekday      6
1492            100732  Post Weekday      6
1493            102112  Post Weekday      1
1494            102112  Post Weekday      1
1495            100732  Post Weekday      7
1496            102112  Post Weekday      1
1497            109670  Post Weekday      6
1498            126141  Post Weekday      4
1499            131630  Post Weekday      2

In [30]:
reshapping_arr = np.array([1,2,3,4,5,6])
reshapping_arr.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])